@using BikeShop.App.Features.Products
@using BikeShop.UI.Clients.Abstract

@page "/products/{productId}"

@inject IProductClient _productClient
@inject NavigationManager NavigationManager

<h3>Product: @_productDto.Name</h3>

<p>@ProductId</p>

<ul>
    <li>Manufacturer: @_productDto.Brand</li>
    <li>Description: @_productDto.Description</li>
    <li>Price: @_productDto.Price</li>
</ul>

<button @onclick="NavigateToReviewComponent">Leave a review</button>

@code {

    [Parameter]
    public string? ProductId { get; set; }

    private ProductDto _productDto;

    protected override async Task OnInitializedAsync()
    {
        _productDto = await _productClient.GetProductByIdAsync(Guid.Parse(ProductId));
    }

    private void NavigateToReviewComponent()
    {
        NavigationManager.NavigateTo($"products/{ProductId}/review");
    }
}
